* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body, html {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /* Grid container */
 .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 16px;
  flex-grow: 1;
  padding: 16px;
  height: 100%;

  grid-template-areas:
    "header header header"
    "sidebar-left main sidebar-right"
    "footer footer footer";
}

  /* Header */
  .header {
    grid-area: header;
    text-align: center;
    font-weight: 700;
    background-color: #4CAF50;
    color: white;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }

  /* Main Content */
   .main-content {
    grid-area: main;
    padding: 24px;
    background-color: #f1f1f1;
    padding: 24px;
    min-height: auto;
    border-radius: 8px;
  } 

  /* Sidebars */
  .sidebar-left, .sidebar-right {
    background-color: #e0e0e0;
    padding: 24px;
    min-height: 100%;
    border-radius: 8px;
  }

 
.main-content img {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

  

  /* Footer */
  .footer {
   grid-area: footer;
    text-align: center;
    padding: 24px;
    font-size: 19px;
    background-color: black;
    color: white;
  }

  /* Content styling */
  .header h1 { margin: 0; }

  .main-content h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

.main-content p {
  line-height: 1.8;
  color: #3d3b3b;
  font-size: 16px;
}


 
 .sidebar-left{
  grid-area: sidebar-left;
 display: flex;
padding: 24px;
 border-radius: 8px;
 flex-direction: column;
 min-height: 100%;
 gap: 16px;
   background-color: #fff;

  }

  .sidebar-right{
    display: flex;
    min-height: 100%;
    grid-area: sidebar-right;
    padding: 24px;
    border-radius: 8px;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
   
  }  


  .sidebar-left img, .sidebar-right img{
    width: 100%;
    height: auto;
    border-radius: 8px;
  }


  /* Responsive adjustments */
  @media (max-width: 768px) {
    .container {
      
      grid-template-columns: 1fr;
      grid-template-areas:"header" "main" "sidebar-left"
      "sidebar-right"
      "footer";
    }
  }